* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #ffffff;
}

header {
    background-color: #1c1c1c;
    padding: 20px;
    text-align: center;
}

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    padding: 20px;
}

.product {
    background-color: #1c1c1c;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.product:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.product img {
    width: 100%;
    height: auto;
    padding-top: 5%;
    padding-bottom: 5%;
}

footer {
    background-color: #1c1c1c;
    padding: 20px;
    text-align: center;
}